*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #07252d;
}

h2{
  position: relative;
  font-size: 6em;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
  line-height: 0.70em;
  outline: none;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%{
    color: #0e3742;
    box-shadow: none;
  }
  100%{
    color: #fff;
    box-shadow: 0 0 10px #03bcf4,
     0 0 10px #03bcf4,
     0 0 10px #03bcf4;


  }
}